#root {
  /* overflow: hidden; */
  background: #1b232d;
}

.title-text {
  position: absolute;
  height: 80%;
  top: 10%;
  font-size: 6rem;
  font-family: 'futura_m';
  color: #ffffff;
  letter-spacing: 8px;
  z-index: 15;
  line-height: 1.25em;
  text-shadow: 0 12px 12px rgb(2 11 22 / 20%);
}

.vt-align-center>div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.line-divider {
  width: 100px;
  height: 4px;
  background-color: #ff4d5a;
  margin: 1.25rem 0;
  border-radius: 8px;
}

.role-div {
  line-height: 1.75rem;
  letter-spacing: 4px;
}

.role-text {
  font-family: 'futura_l';
  font-size: 2rem;
}

.bottom-divi {
  margin-left: 3rem;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  position: absolute;
  border-radius: 5px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1,
.card8 {
  min-width: 60ch;
  min-height: 60ch;
}

.card1 {
  width: 45ch;
  height: 45ch;
  background-image: url(../img/moon.svg);
  z-index: 10;
}

.card2 {
  width: 50ch;
  height: 50ch;
  background-image: url(../img/cloud1.svg);
  z-index: 10;
}

.card3 {
  width: 50ch;
  height: 50ch;
  background-image: url(../img/cloud3.svg);
  z-index: 10;
}

.card4 {
  width: 50ch;
  height: 50ch;
  background-image: url(../img/cloud2.svg);
  z-index: 10;
}

.card5 {
  width: 50ch;
  height: 50ch;
  background-image: url(../img/b_cloud02.svg);
  z-index: 10;
}

.card6 {
  width: 50ch;
  height: 50ch;
  background-image: url(../img/b_cloud01.svg);
  z-index: 10;
}

.card7 {
  font-size: 3.75rem;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 15px rgb(2 11 22 / 20%);
  color: #ff4d5a;
  z-index: 10;
  font-family: 'futura_m';
}

.card8 {
  width: 150ch;
  height: 150ch;
  z-index: 1;
  background-image: url(../img/moon-light.svg);
  background-attachment: fixed;
}

.card9 {
  width: 150ch;
  height: 150ch;
  z-index: 1;
  background-image: url(../img/star.svg);
  background-attachment: fixed;
}

.moon-container {
  position: relative;
}

.moon-container-no-light {
  width: 50%;
  height: 80%;
  /* top: 10%; */
  display: flex;
  align-items: center;
  justify-content: center;
  left: max(660px, 55%);
}

.z-13 {
  z-index: 13;
}

/* Media Queries */
@media only screen and (min-width: 1700px) {
  .moon-container {
    left: 800px;
  }

  .title-text {
    font-size: 7rem;
    left: 5%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  .moon-container {
    left: 44%;
  }
}

@media only screen and (max-width: 1099px) {
  .moon-container {
    left: calc(605.5px + 5vw);
  }
}

@media only screen and (max-width: 1065px) {
  .title-text {font-size: 4.5rem;
  }
}

@media only screen and (max-width: 881px) {
  .moon-container {
    left: 48%;
  }

  .title-text {
    transform: scale(0.7);
    left: -10%;
  }
}

@media only screen and (max-width: 661px) {
  .moon-container {
    left: 25%;
    /* top: 3%; */
    top: -50px;
  }

  .title-text {
    top: 40%;
    transform: scale(0.45);
  }
}

@media only screen and (max-width: 561px) {
  .header-container {
    padding: 40px 20px 0;
  }

  .header-title {
    font-size: 1rem;
  }

  .brands-list a {
    font-size: 1rem;
    margin: 0 0.8rem;
  }

  .title-text {
    left: -110px;
  }
}

@media only screen and (max-width: 340px) {
  .title-text {
    left: -135px;
  }
}
