.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 40px 40px 0;
  z-index: 100;
  /* position: fixed; */
  /* width: -moz-available; WebKit-based browsers will ignore this. */
  /* width: -webkit-fill-available; Mozilla-based browsers will ignore this. */
  /* width: fill-available; */
}

.header-title {
  font-family: 'futura_m';
  font-size: 1.5rem;
  letter-spacing: 4px;
  cursor: pointer;
}

.brands-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.brands-list a {
  margin: 0 1.2rem;
  font-size: 1.5rem;
}

.brands-list a:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}