body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'futura_m';
  src: url('./font/futura\ medium\ bt.ttf') format('truetype');
}

@font-face {
  font-family: 'futura_l';
  src: url('./font/futura\ light\ bt.ttf') format('truetype');
}

.container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
}
